Importamos las librerias.

In [188]:
# Importamos las librerias a utilizar

import pandas as pd
import numpy as np
from janitor import clean_names

In [189]:
# Creamos la variable con el nombre del archivo

nombre_archivo = '2022total.xlsx'

In [190]:
# Leemos el archivo y Creamos la variable df donde guardamos el DF:

df = pd.read_excel(f'data/{nombre_archivo}', na_values= 'NN')

In [191]:
# Creamos una variable nueva llamada DF2 donde guardamos sobre una copia de DF, a su vez redondeamos a dos digitos los decimales:

df2 = df.copy()
df2 = df2.round(2)
df2

,Artículo,Cantidad,Final,Costo,Neto,Margen,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Chimichurri picante vanoli 190g,NaN,NaN,1.00,130.0,70.00,107.44,53.48
2,NaN,Danica ketchup 220g,NaN,NaN,12.00,1850.0,870.90,1528.93,75.56
3,NaN,DANICA salsa barbacoa 220g,NaN,NaN,11.00,1840.0,791.15,1520.66,92.21
4,NaN,Danica salsa golf 220ml,NaN,NaN,4.00,680.0,359.64,561.98,56.26
...,...,...,...,...,...,...,...,...,...
1932,NaN,Yerba verdeflor boldo 500g,NaN,NaN,1.00,270.0,147.00,223.14,51.80
1933,NaN,Yerba verdeflor hierbas serranas,NaN,NaN,1.00,270.0,147.00,223.14,51.80
1934,Total Rubro yerba,300,1.104000e+05,4.466022e+04,91640.58,105.2,NaN,NaN,NaN
1935,Total,7880888926.396801,2.996055e+09,6.513193e+09,117.39,NaN,NaN,NaN,NaN
1936,Fecha Impresión: 10/01/2023 23:06:54,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
# Sacamos en consola los nombres de las columnas del DF:

df2.columns

Index(['Artículo', 'Cantidad', 'Final', 'Costo', 'Neto', 'Margen',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [193]:
# Creamos una variable llamada nombres nuevos con los nombres y Renombramos las columnas:

nombres_nuevos = ['rubro', 'articulo', '1','2','cantidad', 'final', 'costo', 'neto', 'margen']

df2.columns = nombres_nuevos

In [194]:
# Sacamos la informacion del DF:

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1937 entries, 0 to 1936
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rubro     85 non-null     object
 1   articulo  1897 non-null   object
 2   1         41 non-null     float64
 3   2         41 non-null     float64
 4   cantidad  1896 non-null   float64
 5   final     1895 non-null   float64
 6   costo     1855 non-null   float64
 7   neto      1855 non-null   float64
 8   margen    1855 non-null   float64
dtypes: float64(7), object(2)
memory usage: 136.3+ KB

In [195]:
# Sacamos los nulos del DF por variable:

df2.isna().sum().sort_values(ascending = False)

1           1896
2           1896
rubro       1852
costo         82
neto          82
margen        82
final         42
cantidad      41
articulo      40
dtype: int64

In [196]:
# Usamos la funcion clean_names para limpiar los nombres de las variables:

clean_names(df2)

,rubro,articulo,1,2,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Chimichurri picante vanoli 190g,NaN,NaN,1.00,130.0,70.00,107.44,53.48
2,NaN,Danica ketchup 220g,NaN,NaN,12.00,1850.0,870.90,1528.93,75.56
3,NaN,DANICA salsa barbacoa 220g,NaN,NaN,11.00,1840.0,791.15,1520.66,92.21
4,NaN,Danica salsa golf 220ml,NaN,NaN,4.00,680.0,359.64,561.98,56.26
...,...,...,...,...,...,...,...,...,...
1932,NaN,Yerba verdeflor boldo 500g,NaN,NaN,1.00,270.0,147.00,223.14,51.80
1933,NaN,Yerba verdeflor hierbas serranas,NaN,NaN,1.00,270.0,147.00,223.14,51.80
1934,Total Rubro yerba,300,1.104000e+05,4.466022e+04,91640.58,105.2,NaN,NaN,NaN
1935,Total,7880888926.396801,2.996055e+09,6.513193e+09,117.39,NaN,NaN,NaN,NaN
1936,Fecha Impresión: 10/01/2023 23:06:54,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
# Rellenamos los nulos en la variable RUBRO, con el metodo FFILL ya que todos los registros pertenecen al mismo rubro:

df2.rubro.fillna(method='ffill', inplace= True)

In [198]:
# Creamos las funciones que nos permitiran corregir los registros donde aparecen los totales por rubro, ya que los valores
# estan desordenados respecto al resto de los registros.

def correccion_datos(i):
    for i in range(len(df2)):
        df2.index.values[i]
        if df2.iloc[i,0].startswith('Total Rubro '):
            df2.drop

Ejecutamos las funciones de correccion una por una.

In [199]:
df2.apply(correccion_datos)

rubro       None
articulo    None
1           None
2           None
cantidad    None
final       None
costo       None
neto        None
margen      None
dtype: object

In [200]:
# Eliminamos el ultimo registro ya que no es util:

w = len(df2)
e = w -1
df2.drop(index = df2.index[e], inplace=True)

In [201]:
# Eliminamos las columnas 1 y 2 que solo contienen nulos:

df2.drop(columns=['1','2'], inplace= True)

In [202]:
# Eliminamos el ultimo registro que no es de utilidad:

w = len(df2)
e = w -1
df2.drop(index= df2.index[e],inplace= True)

In [203]:
# Eliminamos los registros que tienen nulos en la variable Neto:

df2.drop(df2[df2.neto.isnull()].index, inplace = True)

In [204]:
# Comprobamos si aun quedan nulos:

df2.isna().sum().sort_values(ascending = False)

rubro       0
articulo    0
cantidad    0
final       0
costo       0
neto        0
margen      0
dtype: int64

In [205]:
df2['final'] = df2['final'].astype('int')

c:\Users\nicol\miniconda3\envs\project_01\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

In [207]:
# Definimos a rubro como categorias

df2['rubro'] = df2['rubro'].astype('category')

In [208]:
# Imprimimos los nombres de las categorias:

df2.rubro.cat.categories

Index(['7790150320266', 'Cigarrillos (2)', 'Energizer AA', 'Generico (1)',
       'Golosinas (3)', 'aderezos (12)', 'agua mineral (21)',
       'aguas saborizadas (20)', 'alfajores (5)', 'almacen (15)',
       'articulos de limpieza (17)', 'barras cereales (301)',
       'bebidas alcoholicas (23)', 'caramelos (32)', 'cervezas (26)',
       'chiclets (6)', 'chocolates (4)', 'coca cola (308)', 'comida (30)',
       'congelados (1.504)', 'encendedores (307)', 'energizantes (314)',
       'galletitas (9)', 'gaseosas (22)', 'jugos (1.502)',
       'jugos en sobres (18)', 'lacteos (28)', 'lays (24)', 'levite (310)',
       'mata moscas y mosquitos', 'pedrin (25)', 'pepsi (309)',
       'perfumeria (16)', 'pilas (19)', 'preservativos (27)', 'pritty (311)',
       'quesos rallados (13)', 'quilmes (312)', 'sandwich (1.500)',
       'snack (306)', 'vinos (302)', 'virtual (1.501)', 'yerba (10)'],
      dtype='object')

In [209]:
# Corregimos los nombres de los rubros:

df2.replace('Cigarrillos (2)','cigarrillos', inplace= True)
df2.replace('Generico (1)','generico', inplace= True)
df2.replace('Golosinas (2)','golosinas', inplace= True)
df2.replace('Helados (1.504)','helados', inplace= True)
df2.replace('Krachitos','kranchitos', inplace= True)
df2.replace('Golosinas (3)','golosinas', inplace= True)
df2.replace('9327800004825','encendedores', inplace= True)
df2.replace(['almacen (15)', '7790150320266'], 'almacen', inplace= True)

In [211]:
# Contamos la cantidad de categorias:

cate = df2.rubro.value_counts()
len(cate)

42

In [212]:
# Creamos un index, para ello sacamos el len del DF primero:

w = len(df2)
df2.insert(0, column= 'INDEX', value= range(0,w,1))
df2.set_index('INDEX', inplace= True)

In [213]:
for rub in df2['rubro']:
    if rub != 'cigarrillos':
        df2['margen'] = 55
        df2['IVA'] = 0.21
        df2['costo'] = df2['final'].round() / 1.55
        df2['neto'] = df2['final'].round() / (1 + df2['IVA'])
        df2['ganancia'] = df2['final'].round() - df2['costo'].round()

    else:
        df2['margen'] = 10
        df2['costo'] = df2['final'] / 1.55
        df2['neto'] = df2['final'] - df2['costo']
        df2['ganancia'] = df2['final'] - df2['costo']
        
df2.round(2)

,rubro,articulo,cantidad,final,costo,neto,margen,IVA,ganancia
INDEX,,,,,,,,,
0,aderezos (12),Chimichurri picante vanoli 190g,1.0,130,83.87,107.44,55,0.21,46.0
1,aderezos (12),Danica ketchup 220g,12.0,1850,1193.55,1528.93,55,0.21,656.0
2,aderezos (12),DANICA salsa barbacoa 220g,11.0,1840,1187.10,1520.66,55,0.21,653.0
3,aderezos (12),Danica salsa golf 220ml,4.0,680,438.71,561.98,55,0.21,241.0
4,aderezos (12),dos ancas chimichurri 380gr,1.0,340,219.35,280.99,55,0.21,121.0
...,...,...,...,...,...,...,...,...,...
1850,yerba (10),Yerba Taragui 500 g,16.0,5275,3403.23,4359.50,55,0.21,1872.0
1851,yerba (10),Yerba Union 500g,5.0,2100,1354.84,1735.54,55,0.21,745.0
1852,yerba (10),Yerba verde flor Menta 500g,2.0,540,348.39,446.28,55,0.21,192.0
1853,yerba (10),Yerba verdeflor boldo 500g,1.0,270,174.19,223.14,55,0.21,96.0
1854,yerba (10),Yerba verdeflor hierbas serranas,1.0,270,174.19,223.14,55,0.21,96.0

In [214]:
df2['final']=df2['final'].astype('int64')

Exportamos el DF en un archivo CSV y un EXCEL.

In [222]:
# Creamos una variable con el nuevo nombre para guardar el DF transformado

nombre_nuevo = nombre_archivo.strip('.xlsx')
nombre_transformado = f'{nombre_nuevo}_transformado'

In [221]:
# Guardamos el archivo como csv y excel, con el mismo nombre original mas la palabra transformado

df2.to_csv(f'{nombre_transformado}.csv')
df2.to_excel(f'{nombre_transformado}.xlsx')